
:root {
    --primary-color: white;
    --farhan-color: #081b29;
    --farrel-color: blue;
    --zain-color: #00abf0;
    --bayu-color: #000;
  
}

$primary-color:green;
$secondary-color: rgb(30, 27, 81);
$text-color: rgb(207, 61, 85);

body {
    background-color: var(--farhan-color);
}

.bg-body-secondary {
    background-color: var(--farrel-color);
}

.container {
    padding: 4px;
    width: auto;
    background-color: var(--zain-color);
    border-radius: 1em;

    h1 {
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: var(--primary-color);
    }
    p {
        color: var(--primary-color);
        font-family: 'Times New Roman', Times, serif;
        text-shadow: 1em;
        text-align: center;
    }
}

.container:hover {
    background-color: var(--farrel-color);
}

.btn:hover {
    background-color: var(--farrel-color);
}

.dropdown-menu.show {
    background-color: var(--primary-color);
    box-shadow: 1em;
}

.dropdown-toggle {
    background-color: var(--farhan-color);
    box-shadow: 5px 5px 5px var(--zain-color);
}

.dropdown-item.active {
    background-color: var($text-color);
    border-radius: 1em;
}

.dropdown-item:hover {
    background-color: var(--zain-color);
    border-radius: 1em;
}


input {
    background-color: var(--primary-color);
    border-radius: 1em;
}

input:hover {
    background-color: var(--zain-color);
}

input[type=checkbox] {
    accent-color: var(--zain-color);
    align-items: left;
  }

textarea {
    padding: 5em;
    text-align: left;
}

//mixin//

@mixin profile-pic($size, $circle: false) {
    width: $size;
    height: $size;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.3);

    @if $circle {
        border-radius: 50%
    }
}

.square-profile {
    @include profile-pic(200px, $circle: false)
}

.circle-profile {
    @include profile-pic(200px, $circle: true);
}

$light-bg: #eaeaea;
$light-text: #333;
$dark-bg: #999;
$dark-text: #ddd;

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
  }
 
  .home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
  }
 
  .home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
  }
 
 
  .home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00abf0;
    z-index:-1;
    transition: .5s;
  }
 
  .home-sci a:hover::before {
    width: 100%;
  }

  .Video {
    padding: 2em;
    background-color: var(--zain-color);
    display: flex;
    justify-content: flex-start;
    h2 {
        color: var(--primary-color);
        padding: 2em;
        text-align: center;
        font-size: small;
        background-color: var(--farhan-color);
        border-radius: 2em;
    }

  }

  .rowg-0bg-body-secondaryposition-relative {
    color: #0091ff;
  }

  .first{
    background-color: var(--zain-color)

  }

  .dropdown{
    display: flex;
    background-color: var(--farhan-color);
    justify-content: space-around;
    align-items: end;
    padding: 1em;
  }

  .farrel {
    display: flex;
    justify-content: space-around;
    padding: 2em;
  }

  .bayam {
    display: flex;
    flex-direction: row-reverse;
  }

  .farhansaja {
    display: flex;
    justify-content:space-around ;
  }
 